/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nixie One', cursive;

Font-Family: 'Permanent Marker', Cursive;
Font-Size: 55px;
Font-Family: 'Overpass', Sans-Serif;
Font-Size: 17px;
*/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

body {
    font-family: 'Overpass', Sans-Serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    width: 50%;
    margin: 50px auto;
}

p {
    font-family: 'Overpass', Sans-Serif;
    width: 50%;
    text-align: left;
    margin: 0 auto;
}

.connect {
    margin: 0 auto;
    text-align: center;
}

.emoji {
    height: 40px;
    width: 40px;
}

.name-title {
    display: inline-block;
    font-weight: bold;
    font-family: 'Permanent Marker', Cursive;
    font-size: 55px;
    margin-left: 20px;
}

.navbar {
    display: flex;
    float: right;
    font-family: 'Permanent Marker', Cursive;
    font-size: 25px;
    padding-top: 20px;
    margin-right: 20px;
}

.tagline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 50%;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.link {
    font-weight: bold;
}

.hero-image {
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.monitor {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.image {
    width: 60%;
    margin: 0 auto;
    text-align: right;
}

#icon1, #icon2 {
    width: 40px;
    display: inline-block;
}

#headshot {
    width: 40%;
    text-align: right;
}


#content {
    width: 80%;
    float: right;
}

#sidebar {
    width: 20%;
    float: left;
}






